@import url('https://fonts.googleapis.com/css2?family=Inter:wght@200;300;400;500;600;700;800&display=swap');
@import "utils.css";
@import "animations.css";

* {
    font-family: 'Inter', sans-serif;
}

html, body {
    transition: background-color .3s ease;
}

html[theme="dark"] html, html[theme="dark"] body {
    background: rgb(23, 23, 23);
}

html[theme="light"] html, html[theme="light"] body {
    background: rgb(244, 244, 244);
}