@import url('https://fonts.googleapis.com/css2?family=Inter:wght@200;300;400;500;600;700;800&display=swap');
@import "utils.css";
@import "animations.css";

* {
    font-family: 'Inter', sans-serif;
}

html, body {
    transition: background-color .3s ease;
    color: var(--text-primary);
}

html[theme="dark"] html, html[theme="dark"] body {
    background: rgb(23, 23, 23);
}

html[theme="light"] html, html[theme="light"] body {
    background: rgb(244, 244, 244);
}

:root {
    --accent-red: #B91827;
    --text-primary: #262626;
    --text-secondary: #7A7A7A;
    --text-tethritary: #A6A6A6;
}

span, a, div {
    font-size: 16px;
}

.header-icon {
    color: var(--text-tethritary);
    transition: color .3s ease;
}

.header-icon:hover {
    color: var(--text-secondary);
    cursor: pointer;
}

.header-icon:focus {
    outline: none;
}

.text-accent {
    color: var(--accent-red)
}

.cursor-pointer {
    cursor: pointer;
}

.text-primary {
    color: var(--text-primary) !important
}

.underline-hover-link {
    text-decoration: none;
}

.underline-hover-link:hover {
    text-decoration: underline var(--accent-red);
    text-underline-offset: 4px;
}

.headline-h1 {
    font-size: 40px;
    font-weight: 400;
}

.headline-h2 {
    font-size: 26px;
    font-weight: 500;
}

.found-rows {
    font-size: 20px;
    color: var(--text-tethritary);
    font-weight: 400;
}

.section-title {
    font-size: 20px;
    font-weight: 400;
}

.card-secondary .n-card__content {
    background: #F7F7FA;
}

.n-dialog.n-modal {
    width: 540px;
}